In [1]:
import sys
sys.path.append('/Users/praedator/Documents/UVA/MSDS/DS5100_project')
import unittest
import numpy as np
from app.die import Die
from app.game import Game
from app.analyzer import Analyzer

In [2]:
faces = np.array(['heads', 'tails'], dtype='object')
dice = [Die(faces), Die(faces)]
game = Game(dice)

game.play(5)
game.show(display='wide')

       0      1
0  tails  tails
1  tails  heads
2  heads  heads
3  tails  tails
4  tails  heads

In [3]:
a = Analyzer(game)
a.jackpot()

3

In [4]:
a.face_counts()

      heads  tails
roll
0       0.0    2.0
1       1.0    1.0
2       2.0    0.0
3       0.0    2.0
4       1.0    1.0

In [5]:
a.combo_count()

             count
tails tails      2
heads tails      2
      heads      1

In [6]:
a.permutation_count()

             count
tails tails      4
      heads      2
heads tails      2
      heads      2

In [7]:
game.show()

       0      1
0  tails  tails
1  tails  heads
2  heads  heads
3  tails  tails
4  tails  heads

In [13]:
df = game.show()
df_perms = df.apply(lambda x: "_".join(list(x)), axis=1)
df_perms.value_counts().to_frame()

             count
tails_tails      2
tails_heads      2
heads_heads      1